body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  
}
h1{
   padding: 15px ;
   
}
.vladik{
    width:15%;
    width: 100%;
}
img{
    height:500px;
   
}
p{
    font-size: 30px;
    
}
